.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: 1em;
}
.Nav a{
    text-decoration: none;
    color: turquoise;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}